# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.env/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data files
# =========================
data/raw/*.csv
data/processed/*.csv

# =========================
# Databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Machine Learning Models
# =========================
models/
.cache/
.cache/huggingface/
.cache/torch/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
